torch==1.8.1 -f https://download.pytorch.org/whl/torch_stable.html
torchvision -f https://download.pytorch.org/whl/torch_stable.html
cloudinary
easyocr==1.4
face-recognition
face-recognition-models
Flask
flask-mongoengine
Flask-WTF
gunicorn
mongoengine
numpy
opencv-python
Pillow
pymongo
python-dotenv
