cloudinary
easyocr==1.4
face-recognition
face-recognition-models
Flask
flask-mongoengine
Flask-WTF
gunicorn
mongoengine
numpy
opencv-python
Pillow
pymongo
python-dotenv
torch==1.10.0+cpu
torchvision==0.11.1+cpu
